body {
    background-color: beige;
    font-family: 'Pacifico', cursive;
}      
        
#textcontainer1 h1 {
    font-size: 10vw; 
    font-family: 'Pacifico'; 
    color:cornflowerblue;
}

#textcontainer2 h1 {
    font-size: 10vw; 
    font-family: 'Pacifico'; 
    color:darkred;
}
        
#plate {
    margin-top:10vh; 
}

#hidden {
    display: none;
    margin-top:10vh;
}
        
img {
    width:30vw;
    margin-left:auto; 
    margin-right:auto;
    display:block;
}
        
#textcontainer1 {
    text-align: center; 
    margin-top: 5vh;
} 

#textcontainer2 {
    text-align: center; 
    margin-top: 5vh;
    display:none;
} 

