.body {
    background-image: url(https://media.istockphoto.com/vectors/handdrawn-pasta-doodles-seamless-pattern-vector-illustration-vector-id538036570); 
    background-repeat: repeat; 
    font-family: 'Pacifico', cursive;
}      
        
h1 {
    font-size: 10vw; 
    font-family: 'Pacifico'; 
    color:cornflowerblue;
}
        
#plate {
    margin-left:auto; 
    margin-right:auto; 
    margin-top:20vh; 
}
        
img {
    width:40vw;
    margin-left:auto; 
    margin-right:auto;
}
        
.maincontainer {
    text-align: center; 
    margin-top: 20vh;
} 

